* {
    box-sizing: border-box;
    margin-bottom: 2px;
}


body {
    font-weight: 200;
}

strong,
b {
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}


h3 {
    margin-top: 10px;
}

.component-header {
    font-weight: 200;
    font-family: "Cinzel", "Georgia", "Times New Roman", serif;
}

.component {
    margin-top: 10px;
}

.role {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

nav {
    justify-content: space-around;
}

.menu {
    display: flex;
}

ul {
    margin-top: 0;
}

.menu>ul>li {
    display: inline;
}

.project-name {
    margin-bottom: 0;
}

a {
    color: inherit;
}


footer {
    margin-top: 10px;
}